* {
    font-family: 'Vidaloka', 'serif' !important;
}

body {
    padding-top: 0px;
    font-family: 'Vidaloka', serif;
}

main {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/12193820/pexels-photo-12193820.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    image-resolution: 300dpi;
}


/* IN=  Reservation table */

.col-sm-8 {
    background-color: #FFFFFFD1;
    z-index: 2;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.fc-unthemed .fc-today {
    background: #f3dec0d1;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #00000039;
}

.fc-today-button {
    color: #39a5b7;
}

.text-center {
    font-weight: 500;
}

.h1-reservation-text {
    font-size: 4rem;
    font-weight: 600px;
}

.display-colors-reservation {
    background-color: #FFFFFFc1;
    border-radius: 15px;
}

.colorsindications {
    background-color: #ffffffd1;
    border-radius: 10px;
}

#overview {
    margin-left: -150px;
}

/* IN= !Reservation pop-up */

.modal-content {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://static.wixstatic.com/media/14bd8f_9c2af9902d624d9a9ac9feccd2ab75b1.jpg/v1/fill/w_1081,h_721,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/14bd8f_9c2af9902d624d9a9ac9feccd2ab75b1.jpg');
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-repeat: no-repeat;
    height: 550px;
    margin: 9.5% auto;
}

label[for="name"],
label[for="email"],
label[for="phone"],
label[for="pax"],
label[for="date_span"],
label[for="type"],
label[for="comment"] {
    color: #FFFFFF;
}

.selectslot {
    color: #FFFFFF;
}

.modal-header {
    background-color: #fff6f0;
}

.modal-title {
    color: #39a5b7;
}


/* Navbar */

.navbar {
    background-image: url('https://static.wixstatic.com/media/6c3a68_eaa7a09a0d3042cab626c4f7dacb8d78.jpg/v1/crop/w_980,h_147,al_c,q_80,enc_auto/6c3a68_eaa7a09a0d3042cab626c4f7dacb8d78.jpg');
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FBEDD5;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #FBEDD5;
}


/* OUT= Reservation Icons background*/

.s_features {
    background-color: #FBEDD5;
}


/* Footer */

.o_footer {
    background-image: url('https://static.wixstatic.com/media/6c3a68_eaa7a09a0d3042cab626c4f7dacb8d78.jpg/v1/crop/w_980,h_147,al_c,q_80,enc_auto/6c3a68_eaa7a09a0d3042cab626c4f7dacb8d78.jpg');
}

.o_footer .text-muted {
    color: #FFFFFF !important;
}


/* Navbar Hamburger */

.navbar-light .navbar-toggler-icon {
    background-image: url("https://svgur.com/i/hyw.svg");
}

main.modal-body {
    background-color: #fff6f0;
    z-index: 999;
}

@media only screen and (min-device-width: 480px) {
    #personinfo {
        width: 60%;
    }
}

@media only screen and (min-width : 992px) {
    #personinfo {
        margin-left: 23%;
    }
}

//Reservation form design
.call_mundo {
    text-align: center;
    width: 1000px;
}
.call_mundo h4 {
    margin-left: 7.5%;
    text-align: center;
    color:#74effc; 
    font-size:35px;
    padding-top:20px;
}


/* Error Page design*/
#wrap>div:nth-child(1)>h1 {
color: #74effc;
}
#wrap>div:nth-child(1)>p {
color: #74effc;
}